*_DeploymentConfig.json
*_BuildConfig.json
*_SecretConfig.json
*.local.*
sonar-runner/.gradle
sonar-runner/.settings
sonar-runner/build
functional-tests/.gradle
functional-tests/build
PDF/.sonarqube
.sonarqube

.vscode/launch.json
.vscode/tasks.json
*.vs*
launchSettings.json
applicationHost.config

*.DotSettings
*.DotSettings.user
node_modules/
