@{
    ViewData["Title"] = "PdfServerLib Home";
}
<h2>PdfServerLib Api</h2>

<hr />

<a class="btn btn-default" href="~/swagger/" title="Pdf Server Lib Swagger" data-toggle="tooltip" data-container="body" data-placement="right">
    <span class="glyphicon glyphicon-expand"></span>&nbsp;Pdf Server Lib
</a>