@{
    ViewBag.Title = "HetsApi - Api Home";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <style>
        body {
            background-color: #fff;
            padding: 10px;
            font-family: Helvetica;
            font-size: 12pt;
        }

        #requestId, #regionId {
            width: 30px;
        }
    </style>

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>

    <script language="javascript">
        function updateUserId(userId) {
            userId = userId.trim();

            if (userId.length > 0) {
                window.location.href = "/api/authentication/dev/token/" + userId;
            }
        }

        function expireUserId() {
            window.location.href = "/api/authentication/dev/clearToken";
        }

        function generateKeys() {
            $.ajax({
                url: "/api/owners/generateKeys",
                type: "POST",
                timeout: 600000, // sets timeout to 10 min
                success: function (response) {
                    alert(response);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                }
            });
        }
    </script>
</head>
<body>
    <h2>@ViewData["Title"]</h2>
    <hr />
    <div>
        <h3>Current User Id</h3>
        <label>UserId:</label> &nbsp; @Model.UserId
    </div>

    @if (Model.DevelopmentEnvironment)
    {
        <hr />
        <div>
            <h3>Reset User Id</h3>
            <label>UserId:</label> <input text="" id="newUserId" />
            <button onclick="updateUserId(newUserId.value);">Override User Context</button>&nbsp;&nbsp;
            <button onclick="expireUserId();">Clear User Context</button>
        </div>
    }

    @if (Model.DevelopmentEnvironment)
    {
        <hr />
        <div>
            <h3>Generate Owner Shared Keys</h3>
            <button onclick="generateKeys();">Generate Keys</button>
        </div>
    }

@if (Model.DevelopmentEnvironment)
    {
        <hr />
        <div>
            <h4>View HETS API</h4>
            <a href="~/swagger/">Swagger</a>
        </div>        
        <hr />
        <div>
            <h4>Hangfire Monitor</h4>
            <a href="~/hangfire">Hangfire</a>
        </div>
    }
</body>
</html>