@{
    ViewBag.Title = "HetsApi - Api Home";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>    
    
    <style>
        body {
            background-color: #fff;
            padding: 10px;
            font-family: Helvetica;
            font-size: 12pt;
        }      

        #requestId, #regionId {
            width: 30px;
        }
    </style>        
    
    <script language="javascript">
        function updateUserId(userId) {
            userId = userId.trim();

            if (userId.length > 0) {
                window.location.href = "/api/authentication/dev/token/" + userId;
            }            
        }

        function expireUserId() {
            window.location.href = "/api/authentication/dev/cleartoken";
        }        
    </script>
</head>
<body>
    <h2>@ViewData["Title"]</h2>
    <hr />
    <div>
        <h3>Current User Id</h3>
        <label>UserId:</label> &nbsp; @Model.UserId
    </div>

    @if (Model.DevelopmentEnvironment)
    {
        <hr />
        <div>
            <h3>Reset User Id</h3>
            <label>UserId:</label> <input text="" id="newUserId" />
            <button onclick="updateUserId(newUserId.value);">Override User Context</button>&nbsp;&nbsp;
            <button onclick="expireUserId();">Clear User Context</button>
        </div>
    }

    @if (Model.DevelopmentEnvironment)
    {
        <hr />
        <div>
            <h4>View HETS API</h4>
            <a href="~/swagger/">Swagger</a>
        </div>
        <hr />
        <div>
            <h4>Import BC Bid Data</h4>
            <a href="~/api/Import">Import</a>
        </div>
        <hr />
        <div>
            <h4>Hangfire Monitor</h4>
            <a href="~/hangfire">Hangfire</a>
        </div>
    }
</body>
</html>