@{
    ViewBag.Title = "HETSAPI - Api Home";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>    
    
    <style>
        body {
            background-color: #fff;
            padding: 10px;
            font-family: Verdana, Geneva, sans-serif;
            font-size: 12pt;
        }      
    </style>
    
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    
    
    <script language="javascript">
        function updateUserId(userId) {
            userId = userId.trim();

            if (userId.length > 0) {
                window.location.href = "/api/authentication/dev/token/" + userId;
            }            
        }

        function expireUserId() {
            window.location.href = "/api/authentication/dev/cleartoken";
        }

        function recalcSeniority() {
            var regionId = $("#regionId").value;
            alert('Recalc Seniority for Region Id: ' + regionId);

            $.ajax({
                url: "/api/equipment/recalcSeniority?region=" + regionId,
                type: "GET",
                timeout: 60000, // sets timeout to 1 min
                success: function (response) {
                    alert('done');
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                }
            });
        }

        function recalcRotation() {
            var requestId = $("#requestId").value;
            alert('Recalc Rotation for Request Id: ' + requestId);

            $.ajax({
                url: "/api/rentalrequests/recalcRotation?rentalRequest=" + requestId,
                type: "GET",
                timeout: 60000, // sets timeout to 1 min
                success: function (response) {
                    alert('done');
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                }
            });
        }     

        function getRotationList() {
            var requestId = $("#requestId").val();

            $.ajax({
                url: "/api/rentalrequests/" + requestId + "/rotationList",
                type: "GET",
                timeout: 60000, // sets timeout to 1 min
                success: function (response) {
                    alert(JSON.stringify(response.data));
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(xhr.responseText);
                }
            });
        }    
    </script>
</head>
<body>
<h2>@ViewData["Title"]</h2>
<hr/>
<div>
    <h3>Current User Id</h3>
    <label>UserId:</label> &nbsp; @Model.UserId
</div>

@if (Model.DevelopmentEnvironment)
{
    <hr/>
    <div>
        <h3>Reset User Id</h3>
        <label>UserId:</label> <input text="" id="newUserId"/>
        <button onclick="updateUserId(newUserId.value);">Override User Context</button>&nbsp;&nbsp;
        <button onclick="expireUserId();">Clear User Context</button>
    </div>
}

@if (Model.DevelopmentEnvironment)
{
    <hr/>
    <div>
        <h4>View HETS API</h4>
        <a href="~/swagger/ui/index.html">Swagger</a>
    </div>

    <hr/>
    <div>
        <h4>Import BC Bid Data</h4>
        <a href="~/Import">Import</a>
    </div>

    <hr/>
    <div>
        <h4>Hangfire Monitor</h4>
        <a href="~/hangfire">Hangfire</a>
    </div>

    <hr/>
    <div>
        <h4>Recalc Equipment Seniority</h4>
        <input type="number" width="5" value="3" id="regionId" /> 
        <button onclick="recalcSeniority();">Recalc (Region (3) "Northern")</button>
    </div>

    <hr/>
    <div>
        <h4>Recalc Rotation List (for a Rental Request)</h4>
        <input type="number" width="5" value="18" id="requestId" /> 
        <button onclick="recalcRotation();">Recalc (Request (18))</button>        
        <button onclick="getRotationList();">Get Rotation List</button>
    </div>
}
</body>
</html>