#business-portal {
  #hets-logo {
    float: left;
    margin-right: 20px;
    margin-bottom: 15px;
    width: 218px;
    height: 109px;
  }

  #associate-owner {
    a {
      font-weight: 700;
    }

    input#secretKey {
      width: 250px;
    }

    input#postalCode {
      width: 120px;
    }

    button {
      vertical-align: top;
    }

    .validation-error {
      margin-top: 1em;
      color: #a94442;
    }
  }
}
