#business-portal {
  #bceid-box {
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    padding: 4px 8px;
    float: left;
    margin-right: 20px;
    text-align: center;
  }

  #bceid-logo {
    width: 100px;
    height: 40px;
    background: url('/images/gov/bceid_logo.png') no-repeat center center #003366;
  }

  #enter-secret-key {
    input#secret-key {
      width: 250px;
    }

    input#postal-code {
      margin-left: 10px;
      width: 120px;
    }

    button {
      vertical-align: top;
      margin-left: 10px;
    }
  }
}
