#business-portal {
  
  h3 {
    font-weight: 600;
  }

  #associate-owner {
    a {
      font-weight: 700;
    }

    input#secretKey {
      width: 250px;
    }

    input#postalCode {
      margin-left: 10px;
      width: 120px;
    }

    button {
      vertical-align: top;
      margin-left: 10px;
    }

    .validation-error {
      margin-top: 1em;
      color: #a94442;
    }
  }
}
