@import '../mixins';

#equipment-list {

  #equipment-bar > .row {
    @include flex;

    .col-md-2 {
      @include flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
    }
  }

  #equipment-filters-first-row {
    @include flex;

    .btn-group {
      flex-grow: 1;
    }

    .btn-group .btn {
      margin-left: 0;
      width: 100%;
      max-width: 100%;
      text-align: left;
    }

    margin-top: -10px;

    > label {
      margin-top: 17px;
      margin-left: 7px;
    }

    > div {
      margin-top: 10px;
    }

    > form > span {
      margin-top: 10px;
    }

    .checkbox-inline {
      float: left;
    }
  }

  #equipment-filters-second-row {
    @include flex;
    padding: 0 7px;

    .input-container {
      margin-left: 7px;
      flex-grow: 1;
    }

    #lastVerifiedDate {

      label {
        float: initial;
      }

      .input-group {
        display: block;
        float: initial;
      }
    }

    .form-control {
      margin: 0;
    }

    label {
      margin: 7px 0;
      font-weight: normal;
    }
  }

  #equipment-buttons {
    float: right;

    .btn {
      width: 40px;
    }
  }

  #equipment-faves {
    float: right;
  }

  #search-button {
    float: right;
    width: 105px;
    margin-top: 10px;
  }
}

#equipment-detail {
  
  .top-container {
    margin: 0 5px;
  }

  #equipment-bottom {
    margin: 15px 0;
  }

  .well {
    margin-left: 5px;
    margin-right: 5px;
  }

  .label {
    font-size: 100%;
    margin-right: 5px;
  }

  .checkbox {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 16px;
  }

  .mr-5 {
    margin-right: 5px;
  }

  .btn-group > .btn + .btn {
    margin-left: -1px;
  }

  h1 {
    small {
      font-size: 85%;
    }
  }

  h3 {
    font-weight: 600;
  }
}

#equipment-add,
#equipment-edit {
  [class*='col-'] {
    padding-left: 7px;
    padding-right: 7px;
  }

  h4 strong span {
    margin-left: 20px;
  }

  .form-group {
    h4 {
      margin: 0;
    }
  }
}

#seniority-edit {
  [class*='col-'] {
    padding-left: 7px;
    padding-right: 7px;
  }

  h4 strong span {
    margin-left: 20px;
  }
}
