#equipment-list {
  #equipment-filters-first-row {
    margin-top: -10px;

    > label {
      margin-top: 17px;
      margin-left: 7px;
    }

    > div {
      margin-top: 10px;
    }

    > form > span {
      margin-top: 10px;
    }

    .checkbox-inline {
      float: left;
    }
  }

  #equipment-filters-second-row {
    margin-top: 10px;

    label {
      margin-top: 7px;
      margin-left: 7px;
    }

    .form-control {
      margin: 0;
    }

    #equipment-attachments {
      label {
        float: left;
        font-weight: normal;
      }

      input {
        float: left;
        min-width: 175px;
        width: auto;
        margin-left: 10px;
      }
    }
  }

  #equipment-buttons {
    float: right;

    .btn {
      width: 40px;
    }
  }

  #equipment-faves {
    float: right;
  }

  #search-button {
    float: right;
    width: 105px;
    margin-top: 10px;
  }
}

#equipment-detail {
  #equipment-top {
    margin: 0 5px;
  }
  
  #equipment-bottom {
    margin: 15px 5px;
  }

  #equipment-header {
    margin: 0 5px;
  }

  .well {
    margin-left: 5px;
    margin-right: 5px;
  }

  .label {
    font-size: 100%;
    margin-right: 5px;
  }

  .checkbox {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 16px;
  }

  .btn {
    margin-right: 5px;
  }

  .btn-group > .btn + .btn {
    margin-left: -1px;
  }

  h1 {
    small {
      font-size: 85%;
    }
  }

  h3 {
    font-weight: 600;
  }
}

#equipment-add,
#equipment-edit {
  [class*='col-'] {
    padding-left: 7px;
    padding-right: 7px;
  }

  h4 strong span {
    margin-left: 20px;
  }

  .form-group {
    h4 {
      margin: 0;
    }
  }
}

#seniority-edit {
  [class*='col-'] {
    padding-left: 7px;
    padding-right: 7px;
  }

  h4 strong span {
    margin-left: 20px;
  }
}
