#home_image {
  height: 200px;
}

#home {

  .btn-container {
    padding: 7px;
  }

  .fixed-width {

    &.small .dropdown-toggle {
      width: 125px;
    }
    
    .dropdown-toggle {
      width: 150px;
    }
  }
  
  .btn {
    margin-right: 5px;
  }

  .rotation-list-form {
    text-align: right;
  }
}
