#owners-list {
  #owners-filters {
    margin-top: -10px;

    > div {
      margin-top: 10px;
    }

    > label {
      margin-top: 17px;
      margin-left: 10px;
      float: left;
    }

    > button {
      margin-top: 10px;
      margin-left: 20px;
    }
  }

  #owners-buttons {
    float: right;

    > button {
      margin-right: 5px;
    }

    .btn-group > button {
      width: 40px;
    }
  }

  #owners-faves {
    float: right;
  }
}

#owners-detail {
  #owners-top {
    margin-bottom: 10px;
  }
  
  #owners-header {
    margin: 0 5px;
  }

  #owners-data {
    .checkbox {
      margin-top: 0px;
      margin-bottom: 0px;
      height: 16px;
    }
  }

  #contact-list {
    max-height: 150px;
    width: 100%;
    overflow-y: auto;
    margin-bottom: 10px;

    table {
      margin: 0px;
    }

    th, td {
      max-width: 125px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .btn {
      margin-left: 0px;
    }

  }

  .well {
    margin-left: 5px;
    margin-right: 5px;
  }

  .label {
    font-size: 100%;
    margin-right: 5px;
  }

  .col-display-label {
    width: 170px;
  }

  .alert {
    margin-top: 10px;

    .btn {
      float: right;
    }
  }

  h1 {
    small {
      font-size: 85%;
    }
  }

  h3 {
    font-weight: 600;
  }
}

#owners-edit {
  [class*='col-'] {
    padding-left: 7px;
    padding-right: 7px;
  }

  .form-group {
    h4 {
      margin: 0;
    }
  }
}
