#owners-detail {
  #owners-top {
    margin: 0 5px 10px 5px;

    #owner-notes-button, #owner-documents-button {
      margin-left: 5px;
    }
  }

  #owners-header {
    margin-left: 5px;
    margin-right: 5px;
  }

  #owners-data {
    .checkbox {
      margin-top: 0;
      margin-bottom: 0;
      height: 16px;
    }
  }

  #contact-list {
    max-height: 150px;
    width: 100%;
    overflow-y: auto;
    margin-bottom: 10px;

    table {
      margin: 0;
    }

    th, td {
      max-width: 125px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  #equipment-list {
    td:nth-child(4) {
      width: 350px;
    }

    .attachment {
      display: inline-block;
    }
  }

  .well {
    margin-left: 5px;
    margin-right: 5px;
  }

  .label {
    font-size: 100%;
    margin: 6px 5px;
    display: inline-block;
  }

  .col-display-label {
    width: 170px;
  }

  .alert {
    margin-top: 10px;

    .btn {
      float: right;
    }
  }

  h1 {
    small {
      font-size: 85%;
    }
  }
}

#owners-edit {
  .form-group {
    h4 {
      margin: 0;
    }
  }
}
