#owners-list {
  #owners-filters {
    > div {
      margin: 5px;
    }

    > button {
      margin: 5px;
    }

    > input {
      float: left;
      min-width: 175px;
      margin: 5px;
      width: auto;
    }
  }

  #owners-buttons {
    float: right;

    .btn-group > button {
      width: 40px;
    }
  }

  #add-button-container {
    float: right;
    margin-top: 10px;
  }
}

#owners-detail {
  #owners-top {
    margin-bottom: 10px;
  }

  #owners-header {
    margin: 0 5px;
  }

  #owners-data {
    .checkbox {
      margin-top: 0;
      margin-bottom: 0;
      height: 16px;
    }
  }

  #contact-list {
    max-height: 150px;
    width: 100%;
    overflow-y: auto;
    margin-bottom: 10px;

    table {
      margin: 0;
    }

    th, td {
      max-width: 125px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .btn {
      margin-left: 0;
    }

  }

  .well {
    margin-left: 5px;
    margin-right: 5px;
  }

  .label {
    font-size: 100%;
    margin: 6px 5px;
    display: inline-block;
  }

  .col-display-label {
    width: 170px;
  }

  .alert {
    margin-top: 10px;

    .btn {
      float: right;
    }
  }

  h1 {
    small {
      font-size: 85%;
    }
  }

  h3 {
    font-weight: 600;
  }
}

#owners-edit {
  [class*='col-'] {
    padding-left: 7px;
    padding-right: 7px;
  }

  .form-group {
    h4 {
      margin: 0;
    }
  }
}
