#projects-list {
  #projects-filters {
    > div {
      margin: 5px;
    }

    > button {
      margin: 5px;
    }

    > input {
      float: left;
      min-width: 175px;
      margin: 5px;
      width: auto;
    }
  }

  #projects-buttons {
    float: right;

    .btn {
      width: 40px;
    }
  }

  #add-button-container {
    float: right;
    margin-top: 10px;
  }
}

#projects-detail {

  .top-container {
    margin: 0 5px;
  }

  #projects-top {
    margin-bottom: 10px;

    .btn {
      margin-left: 5px;
    }
  }

  #equipment-list {
    overflow-y: auto;
    width: 100%;
    max-height: 400px;
    margin-top: 20px;
    
    .btn {
      margin-left: 0;
    }
  }

  .well {
    margin-left: 5px;
    margin-right: 5px;
  }

  .label {
    font-size: 100%;
    margin-right: 5px;
  }

  .btn {
    margin-left: 20px;
  }

  .alert-success .btn {
    margin-left: auto;
  }

  h1 {
    small {
      font-size: 85%;
    }
  }

  h3 {
    font-weight: 600;
  }
}

#contact-list {
  max-height: 150px;
  width: 100%;
  overflow-y: auto;
  margin-bottom: 10px;

  table {
    margin: 0;
  }

  th, td {
    max-width: 125px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .btn {
    margin-left: 0;
  }

}

#projects-edit {
  [class*='col-'] {
    padding-left: 7px;
    padding-right: 7px;
  }

  textarea {
    resize: vertical;
  }
}

#time-entry {
  .remove-btn {
    margin-left: 5px;
  }

  .column-title {
    margin-bottom: 5px;
    font-weight: bold;
  }

  .time-records-list {
    padding: 0;
    list-style: none;
    max-height: 100px;
    overflow: auto;

    .list-item {
      margin: 5px 0;
    }
  }

  .time-entries-container {
    margin: 30px 0 5px 0;
  }

  .highlight {
    font-weight: bold;
    color: red;
  }

  .small-text {
    font-size: 10px;
  }
}
