#projects-list {
  #projects-filters {
    margin-top: -10px;

    > div {
      margin-top: 10px;
    }

    > label {
      margin-top: 17px;
      margin-left: 10px;
      float: left;
    }

    > button {
      margin-top: 10px;
      margin-left: 20px;
    }

    > input {
      float: left;
      min-width: 175px;
      width: auto;
      margin-top: 10px;
      margin-left: 10px;
    }
  }

  #projects-buttons {
    float: right;

    .btn {
      width: 40px;
    }
  }

  #projects-faves {
    float: right;
  }

  #projects-faves-dropdown {
    width: 79px;
  }
}

#projects-detail {
  #projects-top {
    margin-bottom: 10px;

    .btn {
      margin-left: 5px;
    }
  }

  .well {
    margin-left: 5px;
    margin-right: 5px;
  }

  .label {
    font-size: 100%;
    margin-right: 5px;
  }

  .btn {
    margin-left: 20px;
  }

  h1 {
    small {
      font-size: 85%;
    }
  }

  h3 {
    font-weight: 600;
  }
}

#projects-edit {
  [class*='col-'] {
    padding-left: 7px;
    padding-right: 7px;
  }

  textarea {
    resize: vertical;
  }
}
