#projects-detail {
  .top-container {
    margin: 0 5px;
  }

  #projects-top {
    margin-bottom: 10px;
  }

  #equipment-list {
    overflow-y: auto;
    width: 100%;
    max-height: 400px;
    margin-top: 20px;
  }

  .well {
    margin-left: 5px;
    margin-right: 5px;
  }

  .label {
    font-size: 100%;
    margin-right: 5px;
  }

  #add-request-button {
    margin-left: 20px;
  }
}

#contact-list {
  max-height: 150px;
  width: 100%;
  overflow-y: auto;
  margin-bottom: 10px;

  table {
    margin: 0;
  }

  th,
  td {
    max-width: 125px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .btn {
    margin-left: 0;
  }
}

#projects-edit {
  textarea {
    resize: vertical;
  }
}

#time-entry {
  .column-title {
    margin-bottom: 5px;
    font-weight: bold;
  }

  .time-records-list {
    padding: 0;
    list-style: none;
    max-height: 100px;
    overflow: auto;

    .list-item {
      margin: 5px 0;
    }
  }

  .time-entries-container {
    margin: 30px 0 5px 0;
  }

  .highlight {
    font-weight: bold;
    color: red;
  }

  .small-text {
    font-size: 10px;
  }
}
