#rental-agreements-detail {
  #rental-agreements-top {
    margin-bottom: 10px;

    .btn {
      margin-left: 5px;
    }
  }

  #rental-agreements-note {
    margin-bottom: 10px;
  }

  .label {
    font-size: 100%;
    margin-right: 5px;
  }

  .no-margin {
    margin: 0;
  }

  h1 {
    small {
      font-size: 85%;
    }
  }

  h3 {
    font-weight: 600;
  }
}

#rental-agreements-edit {
  [class*='col-'] {
    padding-left: 7px;
    padding-right: 7px;
  }
}
