#rental-agreements-detail {
  #rental-agreements-top {
    margin-bottom: 10px;
  }

  #rental-agreements-top, #rental-agreements-footer {
    .btn {
      margin-left: 5px;
    }
  }

  #rental-agreement-header {
    min-height: 169px;
  }

  #rental-agreements-note {
    margin: 10px 0;
  }

  #overtime-rates {
    .overtime-rate {
      margin-right: 20px;
    }
  }

  .label {
    font-size: 100%;
    margin-right: 5px;
  }

  .no-margin {
    margin: 0;
  }

  .rental-rates {
    position: relative;

    .edit-rate-btn {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

#rental-agreements-overtime-notes-edit {
  #overtime-rate-edit {
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;

    .checkbox-control {
      display: inline-block;
      margin-right: 20px;
    }
  }

  #note-edit {
    margin-top: 20px;
  }
}
