#seniority-list
{
  .btn-container {
    > div {
      margin: 5px;
    }

    > button {
      margin: 5px;
    }
  }

  .fixed-width {

    &.small .dropdown-toggle {
      width: 125px;
    }
    
    .dropdown-toggle {
      width: 150px;
    }
  }
}