#seniority-list
{
  .btn-container {
    > div {
      margin: 5px;
    }

    > button {
      margin: 5px;
    }
  }

  .fixed-width {

    &.small .dropdown-toggle {
      width: 125px;
    }

    .dropdown-toggle {
      width: 150px;
    }
  }
}

#hiring-report
{
  #hiring-report-buttons {
    float: right;
  }
}

#ait-report
{
  #ait-report-buttons {
    float: right;
  }
}

#ait-report-filters
{
  > div {
    margin: 5px;
  }

  > button {
    margin: 5px;
  }

  > input {
    float: left;
    min-width: 175px;
    margin: 5px;
    width: auto;
  }
}

#ait-report-custom-date-filters {
  .input-group {
    margin: 5px;
  }

  label {
    margin-top: 13px;
    margin-left: 7px;
  }
}

#wcg-cgl-coverage {
  #wcg-cgl-coverage-buttons {
    float: right;
  }

  #wcg-cgl-coverage-filters {
    > div, > button {
      margin: 0 5px 5px 5px;
      vertical-align: bottom;
    }

    .input-container {
      display: inline-block;

      .dropdown {
        float: none;
      }

      .control-label {
        font-weight: normal;
        display: block;
      }
    }

    .date-control {
      display: inline-block;

      label {
        float: none;
      }
    }
  }
}
