#roles-list {
  #roles-filters {
    .search-control {
      width: 350px;
      margin-left: 5px;
    }
  }

  .alert .btn {
    float: right;
  }
}

#roles-detail {
  #roles-top {
    margin-bottom: 10px;
    text-align: right;
  }

  #roles-permissions {
    table {
      font-size: 92%;

      tr {
        cursor: pointer;

        &.selected {
          background-color: #217AFF;
          color: white;
        }
      }
    }
  }
}

#roles-edit {
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
    margin-left: -7px;
  }
}
