#roles-list {
  #roles-filters {
    margin-top: -10px;

    .search-control {
      width: 350px;
      margin-top: 10px;
      margin-left: 5px;
    }
  }

  #roles-buttons {
    float: right;

    .btn {
      width: 40px;
    }
  }

  .alert .btn {
    float: right;
  }
}

#roles-detail {
  #roles-top {
    margin-bottom: 10px;
  }

  #roles-permissions {
    table {
      font-size: 92%;

      tr {
        cursor: pointer;

        &.selected {
          background-color: #217AFF;
          color: white;
        }
      }
    }
  }

  .btn {
    margin-left: 5px;
  }

  h1 {
    small {
      font-size: 85%;
    }
  }

  h3 {
    font-weight: 600;
  }
}

#roles-edit {
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
    margin-left: -7px;
  }

  [class*='col-'] {
    padding-left: 7px;
    padding-right: 7px;
  }
}
