#time-entry-list {
  #time-entry-buttons {
    float: right;
  }

  #add-button-container {
    float: right;
    margin-top: 10px;
  }

  #time-entry-filters {
    > div {
      margin: 5px;
    }

    > button {
      margin: 5px;
    }
  }
}
