#users-list {
  #users-search {
    & > div {
      margin: 5px;
    }

    & > button {
      margin: 5px;
    }

    & > input {
      float: left;
      min-width: 175px;
      margin: 5px;
      width: auto;
    }

    & > label {
      margin: 12px 5px 5px 5px;
      float: left;
    }

    .form-control {
      margin: 0;
    }

    .input-group {
      width: 250px;
      margin: 5px;
    }
  }

  #users-buttons {
    float: right;

    .btn {
      width: 40px;
    }
  }

  #users-faves {
    float: right;
  }

  .alert .btn {
    float: right;
  }

  #add-button-container {
    float: right;
    margin-top: 10px;
  }
}

#users-detail {
  #users-top {
    margin-bottom: 10px;
  }

  #users-access {
    .checkbox-control {
      float: right;
      font-size: 14px;
    }

    input {
      margin-top: 0;
    }
  }

  .well {
    margin-left: 5px;
    margin-right: 5px;
  }

  .label {
    font-size: 100%;
    margin-right: 5px;
  }

  .checkbox {
    margin-top: 0;
    margin-bottom: 0;
    height: 16px;
  }

  .col-display-label {
    width: 100px;
  }

  .alert {
    .btn {
      float: right;
    }
  }
}

#users-role-popover {
  .date-control {
    margin-right: 10px;
  }
}
