.dropdown-control {
  .dropdown-toggle {
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 22px;

    .caret {
      position: absolute;
      top: 50%;
      right: 10px;
    }
  }

  &.full-width {
    .dropdown-menu {
      width: 100%;
    }
  }

  .dropdown-menu {
    padding: 0;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      max-height: 262px;
      overflow-y: auto;
    }

    li {
      margin: 0;
    }

    a {
      display: block;
      padding: 3px 20px;
      clear: both;
      font-weight: normal;
      line-height: 1.42857143;
      color: #333;
      white-space: nowrap;
    }

    a:hover,
    a:focus {
      color: #262626;
      text-decoration: none;
      background-color: #f5f5f5;
    }
  }
}

.form-group .dropdown-control {
  display: flex;

  .btn {
    width: 100%;
    max-width: none;
    text-align: left;
  }
}

.has-error .dropdown-control {
  .btn {
    color: #a94442;
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }
}
