@{ViewBag.Title = "PDFAPI - Api Home";}<!DOCTYPE html><html><head>    <meta charset="utf-8" />    <meta name="viewport" content="width=device-width, initial-scale=1.0" />    <title>@ViewData["Title"]</title>            <style>        body {            background-color: #fff;            padding: 10px;            font-family: Verdana, Geneva, sans-serif;            font-size: 12pt;        }            </style>      </head><body><h2>@ViewData["Title"]</h2><hr />
@if (Model.DevelopmentEnvironment){<div>    <h3>View HETS API</h3>    <a href="~/swagger/ui/index.html">Swagger</a></div>    }
</body></html>
