@import 'gov3';
@import 'init';
@import 'header';
@import 'print';
@import 'views/all';
@import 'components/all';
@import 'mixins';

#app {
  height: 100%;
}

#main {
  height: 100%;
}

.page-header {
  margin: 20px 0;
}

.nowrap {
  white-space: nowrap;
}

.spinner-container {
  text-align: center;
  padding: .5rem 0;
}

.spinner {
  display: inline-block;
  vertical-align: baseline;
  width: 24px;
  height: 24px;
  animation: rotate .8s infinite linear;
  border: 2px solid #2e6da4;
  border-right-color: transparent !important;
  border-radius: 50%;
  margin-bottom: -2px;
}

html {
  font-size: 14px;
}

button {
  .spinner {
    margin-left: 10px;
    width: 14px;
    height: 14px;
  }

  &.btn-primary {
    .spinner {
      border-color: white;
    }
  }
}

th {
  text-align: left;
}

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}

a.light {
  color: grey;
}

// Bootstrap overrides 

.alert-success {
  @include flex;
  align-items: center;
  margin-top: 30px;
  
  &:before {
    content: '';
  }

  .btn {
    margin-left: auto;
  }
}

.alert-warning {
  &:before {
    content: '';
  }
}

// Spacing 

.nopadding {
  padding: 0 !important;
}

.mr-5 {
  margin-right: 5px;
}

.ml-5 {
  margin-left: 5px;
}

// Spacing End

.row.equal-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.text-label {
  font-weight: bold;
  margin: 5px 0;
}

.table-container {
  width: 100%;
  overflow-y: auto;
}

#confirm-dialog .timer {
  margin-left: 3px;
  font-weight: bold;
}
