@page {
  margin: 10mm 5mm;
}

@media print {
  .watermark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 72px;
    font-weight: bold;
    color: hsl(0, 0, 90%) !important;
    opacity: 35%;
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
  }

  .search-bar,
  .history,
  .btn-group,
  .btn,
  .checkbox,
  .checkbox-control {
    display: none;
  }

  h1 {
    font-size: 18px;
  }

  h2 {
    font-size: 16px;
  }

  h3 {
    font-size: 14px;
  }

  h4 {
    font-size: 12px;
  }

  a {
    text-decoration: none !important;
  }

  .template {
    margin: 0;
    width: 100%;
    font-size: 10px;
  }

  @for $i from 1 through 12 {
    .col-sm-#{$i} {
      float: left;
      width: #{percentage(round($i * 8.33) / 100)};
    }
  }

  .row {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .well {
    padding: 10px;
  }

  #rental-requests-detail {
    .well {
      padding: 0;
      border: none;
    }

    .request-information {
      margin-top: 0;
    }

    #rental-requests-data {
      line-height: 1;
    }

    #rotation-list {
      font-size: 8px;
    }

    @supports (size: landscape) {
      #rotation-list {
        font-size: 10px;
      }
    }

    /* override bootstrap's white background so watermark can be seen clearly */
    td,
    th {
      background: transparent !important;
    }
  }

  div.row {
    margin: 0 -15px;
  }

  .col-md-6 {
    float: initial;
  }

  #rotation-list {
    th,
    td {
      padding: 2px;
    }

    th span {
      display: block;
    }

    td {
      word-break: break-all;
    }

    th:first-child,
    td:first-child,
    th:nth-child(10),
    td:nth-child(10) {
      display: none;
    }

    th:nth-child(2),
    td:nth-child(2),
    th:last-child,
    td:last-child {
      display: table-cell !important;
    }

    th:last-child,
    td:last-child {
      min-width: 150px;
    }
  }

  .row:after {
    margin-bottom: -25px;
  }

  [class*='col-']:last-child .row:after {
    margin-bottom: 0;
  }

  div#history-list {
    max-height: none;
  }
}
