@media print {
  #rental-requests-bar, 
  #equipment-bar, 
  #equipment-top,
  #owners-bar, 
  #projects-bar,
  #users-bar,
  #roles-bar, 
  .history,
  .btn-group, 
  .btn,
  .checkbox,
  .checkbox-control {
     display: none;
   }
  
  .template {
    margin: 0;
    width: 100%
  }

  #rental-requests-detail {

    #rotation-list {
      font-size: 10px;
    }

    thead > tr > th:last-child {
      display: none;
    }

    tbody > tr > td:nth-child(4) {
      max-width: 150px;
    }
  }
  
  div.row {
    margin: 0 -15px;
  }

  .col-md-6 {
    float: initial;
  }  

  #rotation-list td {
    word-break: break-all;
  }
  
  .row:after { 
    margin-bottom: -25px;
  }

  [class*='col-']:last-child .row:after {
    margin-bottom: 0;
  }

  .table-container {
    overflow-y: visible !important;
  }

  div#history-list {
    max-height: none;
  }
}
