@media print {
  #rental-requests-bar, 
  #equipment-bar, 
  #owners-bar, 
  #projects-bar,
  #users-bar,
  #roles-bar, 
  .history,
  .btn-group, 
  .btn,
  .checkbox,
  .checkbox-control {
     display: none;
   }
  
  .template {
    margin: 0;
    width: 100%
  }

  #rental-requests-detail {
    h3 {
      padding: 0 15px;
    }

    .request-information {
      padding: 0;
    }

    #rental-requests-data {
      .row > div {
        display: inline-block;
        width: 50%;
      }
    }

    .well {
      border: none;
      margin-right: 100px;
    }

    #rotation-list {
      font-size: 10px;
    }

    thead > tr > th:last-child {
      display: none;
    }

    tbody > tr > td:nth-child(4) {
      max-width: 150px;
    }
  }
  
  .col-md-6 {
    float: initial;
  }  

  #rotation-list td {
    word-break: break-all;
  }
}
