@page {
  size: landscape;
}

@media print {
  #rental-requests-bar, 
  #equipment-bar, 
  #equipment-top,
  #owners-bar, 
  #projects-bar,
  #users-bar,
  #roles-bar, 
  .history,
  .btn-group, 
  .btn,
  .checkbox,
  .checkbox-control {
     display: none;
   }

  h1 {
    font-size: 18px;
  }

  h2 {
    font-size: 16px;
  }

  h3 {
    font-size: 14px;
  }

  h4 {
    font-size: 12px;
  }

  a {
    text-decoration: none !important;
  }
  
  .template {
    margin: 0;
    width: 100%
  }

  @for $i from 1 through 12 {
    .col-sm-#{$i} {
      float: left;
      width: #{percentage(round($i * 8.33) / 100)};
    }
  }

  .row {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .well {
    padding: 10px;
  }

  #rental-requests-detail {
    #rental-requests-top, #rental-requests-data {
      font-size: 10px;
    }

    #rotation-list {
      font-size: 8px;
    }
    
    @supports (size: landscape) {
      #rotation-list {
        font-size: 10px;
      }
    }
  }
  
  div.row {
    margin: 0 -15px;
  }

  .col-md-6 {
    float: initial;
  }

  #rotation-list {
    th, td {
      padding: 2px;
    }

    th span {
      display: block;
    }
    
    td {
      word-break: break-all;
    }
    
    td:nth-child(4) {
      width: 310px;
    }
    
    th:nth-child(9), td:nth-child(9) {
      display: none;
    }
    
    th:last-child, td:last-child {
      display: table-cell !important;
      min-width: 100px;
    }
  }

  .row:after { 
    margin-bottom: -25px;
  }

  [class*='col-']:last-child .row:after {
    margin-bottom: 0;
  }

  .table-container {
    overflow-y: visible !important;
  }

  div#history-list {
    max-height: none;
  }
}
