// Small tablets and large smartphones (landscape view)
$screen-sm: 576px;

// Small tablets (portrait view)
$screen-md: 768px;

// Tablets and small desktops
$screen-lg: 990px;

// Large tablets and desktops
$screen-xl: 1200px;

$footer-height: 45px;

$header-height: 124px;
