#documents-dialog {
  .alert {
    margin-top: 10px;

    .btn {
      float: right;
      margin-top: -7px;
    }
  }

  .file-picker-container {
    text-align: center;
    padding: 0 15px 15px 15px;
  }

  .file-picker {
    margin-bottom: 10px;
  }
}
