#error-dialog {
  #error-message {
    font-size: 200%;
  }

  #api-error {
    margin-top: 2em;

    p {
      font-size: 110%;
    }

    #api-url-path {
      color: #286498;
    }

    #api-http-status {
      color: #A43737;
    }

    #api-error-response {
      p {
        margin-bottom: 0;
        font-weight: bold;
      }
    }
  }
}
