#rental-rates-edit,
#rental-conditions-edit {
  #dollar-value {
    padding-right: 10px;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
  }

  .forms-container {
    .form-item {
      border-bottom: 1px solid #ccc;
      padding-bottom: 15px;
      margin-bottom: 30px;

      &:last-child {
        border-bottom: none;
        margin-bottom: 0;
      }
    }
  }

  .align-right {
    text-align: right;
  }
}
