@{
    ViewBag.Title = "Frontend Test Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <style>
        body {
            background-color: #fff;
            padding: 10px;
            font-family: Helvetica;
            font-size: 12pt;
        }
    </style>
</head>
<body>
    <div>
        @Html.Raw(Model.Headers)
    </div>
</body>
</html>