<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Owner Verification Notices</title>
  <style>
    @page {
      margin: 1cm;
      size: landscape;
      
      @top-right {
        margin: 0 1cm 0 0;
        font-size: 12px;
        content: counter(page) "/" counter(pages);
      }
    }

    body {
      background-color: white;
      color: black;
      font-family: sans-serif;
      font-size: 12px;
      white-space: normal;
    }

    #header {
      position: relative;
      text-align: center;
    }

    #info {
      font-size: 14px;
    }

    #info .label {
      font-weight: bold;
    }

    #rotation-list-table {
      margin-top: 12px;
      font-size: 12px;
      line-height: 12px;
      color: #000000;
      text-align: left;
      width: 100%;
    }

    #rotation-list-table th {
      font-weight: bold;
      background-color: #f2f2f2;
    }

  </style>
</head>
<body>

  <div class="rotation-list">
    <div>
      <h1 id="header" class="clearfix">Hired Equipment Seniority List</h1>

      <div id="info">
        <table>
          <tbody>
            <tr>
              <td class="label">District</td>
              <td>Skitmat</td>
            </tr>
            <tr>
              <td class="label">Local Area</td>
              <td>Kitimat</td>
            </tr>
            <tr>
              <td class="label">Equipment Type</td>
              <td>All</td>
            </tr>
          </tbody>
        </table>
      </div>

        <table id="rotation-list-table" border="1" cellpadding="1" cellspacing="1">
          <thead>
            <tr>
              <th>Block</th>
              <th>Last Called<th>
              <th>Equip ID</th>
              <th>Company Name</th>
              <th>Make</th>
              <th>Size</th>
              <th>2015</th>
              <th>2016</th>
              <th>2017</th>
              <th>YTD</th>
              <th>Seniority</th>
              <th>Years Reg</th>
            </tr>
          </thead>
          <tbody>
          {{#seniorityList}}
            <tr>
              <td>{{seniorityString}}</td>
              <td>{{lastCalled}}</td>
              <td>{{equipmentCode}}</td>
              <td>{{ownerName}}</td>
              <td>{{make}}</td>
              <td>{{size}}</td>
              <td>{{hoursYearMinus3}}</td>
              <td>{{hoursYearMinus2}}</td>
              <td>{{hoursYearMinus1}}</td>
              <td>{{ytdHours}}</td>
              <td>{{seniority}}</td>
              <td>{{yearsRegistered}}</td>
            </tr>
          {{/seniorityList}}
          </tbody>
        </table>
      </div>
    </div>
  </div>

</body>
</html>
