<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Hired Equipment Seniority List</title>
  <style>
    @page {
      margin: 1cm;
      size: landscape;
      
      @top-right {
        margin: 0 1cm 0 0;
        font-size: 8pt;
        content: counter(page) "/" counter(pages);
      }
    }

      body {
          background-color: white;
          color: black;
          font-family: Myriad-Pro, Calibri, Arial, 'sans serif';
          font-size: 8pt;
          white-space: normal;
      }

    #header {
      position: relative;
      text-align: right;
    }

    #printedOn {
      display: inline-block;
      margin-top: 0px;
      margin-right: 0px;
      font-size: 8pt;
      line-height: 14px;
      color: #000;
      vertical-align: top;
    }

    .clearfix:after {
      content: "";
      display: table;
      clear: both;
    }

    #form-title {
      margin-top: 0px;
      font-size: 12pt;
      font-weight: bold;
      line-height: 16px;
      color: #000000;
      text-align: left;
    }

    #info .label {
      font-weight: bold;
      padding-right: 10px;
    }

      #rotation-list-table {
          margin-top: 10px;
          font-size: 7pt;
          line-height: 10px;
          color: #000000;
          text-align: left;
          width: 100%;
          margin-bottom: 30px;
          border-collapse: collapse;
          width: 100%;
      }

          #rotation-list-table th {
              font-weight: bold;
              background-color: #f2f2f2;
              padding: 5px 2px 5px 2px;
              border-top: solid;
              border-top-width: 1px;
              border-top-color: gainsboro;
              border-bottom: solid;
              border-bottom-width: 1px;
              border-bottom-color: gainsboro;
          }

          #rotation-list-table td {
              vertical-align: top;
              padding: 5px 2px 5px 2px;
              border-bottom: solid;
              border-bottom-width: 1px;
              border-bottom-color: gainsboro;
          }
  </style>
</head>
<body>

<div class="rotation-list">
    <div>
        <div id="header" class="clearfix">
            <div id="printedOn">Printed On: {{printedOn}}</div>
        </div>

        {{#seniorityListRecords}}
        
        <div>
            <br />
            <div id="form-title">Hired Equipment Seniority List - {{districtName}}</div>
            <br />
        </div>

        <div id="info">
            <table>
                <tbody>
                    <tr>
                        <td class="label">Local Area</td>
                        <td>{{localAreaName}}</td>
                    </tr>
                    <tr>
                        <td class="label">Equipment Type</td>
                        <td>{{districtEquipmentTypeName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <table id="rotation-list-table">
            <thead>
                <tr>
                    <th width="50px">Block</th>
                    <th width="90px">Equip ID</th>
                    <th width="70px">Working Now</th>
                    <th width="70px">Last Called</th>                    
                    <th width="270px">Company Name</th>
                    <th width="440px">Yr/Mk/Md/Sz</th>
                    <th>{{yearMinus3}}</th>
                    <th>{{yearMinus2}}</th>
                    <th>{{yearMinus1}}</th>
                    <th>YTD</th>
                    <th>Seniority</th>
                    <th>Years Reg</th>
                </tr>
            </thead>
            <tbody>
                {{#seniorityList}}
                <tr>
                    <td>{{block}}</td>
                    <td>{{equipmentCode}}</td>
                    <td>{{isHired}}</td>
                    <td>{{lastCalled}}</td>                    
                    <td>{{ownerName}}</td>
                    <td>{{yearMakeModelSize}}</td>
                    <td>{{hoursYearMinus3}}</td>
                    <td>{{hoursYearMinus2}}</td>
                    <td>{{hoursYearMinus1}}</td>
                    <td>{{ytdHours}}</td>
                    <td>{{seniority}}</td>
                    <td>{{yearsRegistered}}</td>
                </tr>
                {{/seniorityList}}
            </tbody>
        </table>
        {{/seniorityListRecords}}

    </div>
</div>

</body>
</html>
