<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Hired Equipment Seniority List</title>
  <style>
    @page {
      margin: 1cm;
      size: landscape;
      
      @top-right {
        margin: 0 1cm 0 0;
        font-size: 8pt;
        content: counter(page) "/" counter(pages);
      }
    }

    body {
        background-color: white;
        color: black;
        font-family: Myriad-Pro, Calibri, Arial, 'sans serif';
        font-size: 8pt;
        white-space: normal;
    }

    #header {
        position: relative;
        text-align: right;
    }

    #printedOn {
      display: inline-block;
      margin-top: 0px;
      margin-right: 0px;
      font-size: 8pt;
      line-height: 14px;
      color: #000;
      vertical-align: top;
    }

    .clearfix:after {
      content: "";
      display: table;
      clear: both;
    }

    #form-title {
      margin-top: 0px;
      font-size: 12pt;
      font-weight: bold;
      line-height: 16px;
      color: #000000;
      text-align: left;
    }

    #info .label {
      font-weight: bold;
      padding-right: 10px;
    }

      #area-district-table {
          page-break-after: always;
          page-break-inside: avoid;
          width: 100%;
          margin: 0;
          padding: 0;
          border-collapse: collapse;
      }

    #rotation-list-table {
        margin-top: 18px;
        font-size: 7pt;
        line-height: 10px;
        color: #000000;
        text-align: left;
        width: 100%;
        margin-bottom: 30px;
        border-collapse: collapse;       
    }
    
    #rotation-list-table thead {
        height: 0.6cm; 
        display: table-header-group;        
    }

    #rotation-list-table-header th {
        height: 0.6cm; 
        font-weight: bold;
        background-color: #f2f2f2;
        padding: 5px 2px 5px 2px;
        border-top: solid;
        border-top-width: 1px;
        border-top-color: gainsboro;
        border-bottom: solid;
        border-bottom-width: 1px;
        border-bottom-color: gainsboro;
    }
              
    #rotation-list-table-body td {
        vertical-align: top;
        padding: 5px 2px 5px 2px;
        border-bottom: solid;
        border-bottom-width: 1px;
        border-bottom-color: gainsboro;
    }      
  </style>
</head>
<body>

<div class="rotation-list">
    <div>
        <div id="header" class="clearfix">
            <div id="printedOn">Printed On: {{printedOn}}</div>
        </div>

        {{#seniorityListRecords}}
        <table id="area-district-table">
            <tr>
                <td>

                    <div>
                        <br />
                        <div id="form-title">Hired Equipment Seniority List - {{districtName}}</div>
                        <br />
                    </div>

                    <div id="info">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="label">Local Area</td>
                                    <td>{{localAreaName}}</td>
                                </tr>
                                <tr>
                                    <td class="label">Equipment Type</td>
                                    <td>{{districtEquipmentTypeName}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <table id="rotation-list-table">
                        <tr id="rotation-list-table-header">
                            <th width="50px">Block</th>
                            <th width="80px">Equip ID</th>
                            <th width="60px">Working</th>
                            <th width="60px">Last Called</th>
                            <th width="260px">Company Name</th>
                            <th width="420px">Yr/Mk/Md/Sz</th>
                            <th style="word-wrap: break-word;">{{yearMinus3}}</th>
                            <th style="word-wrap: break-word;">{{yearMinus2}}</th>
                            <th style="word-wrap: break-word;">{{yearMinus1}}</th>
                            <th>YTD</th>
                            <th>Seniority</th>
                            <th>Years Reg</th>
                        </tr>
                        {{#seniorityList}}
                        <tr id="rotation-list-table-body">
                            <td>{{block}}</td>
                            <td>{{equipmentCode}}</td>
                            <td>{{isHired}}</td>
                            <td>{{lastCalled}}</td>
                            <td>{{ownerName}}</td>
                            <td>{{yearMakeModelSize}}</td>
                            <td>{{hoursYearMinus3}}</td>
                            <td>{{hoursYearMinus2}}</td>
                            <td>{{hoursYearMinus1}}</td>
                            <td>{{ytdHours}}</td>
                            <td>{{seniority}}</td>
                            <td>{{yearsRegistered}}</td>
                        </tr>
                        {{/seniorityList}}
                    </table>
                </td>
            </tr>
        </table>
        {{/seniorityListRecords}}

    </div>
</div>

</body>
</html>
